<!-- main html for find a teacher tab of seattleyoganews.com -->
    <!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find A Yoga Teacher</title>

        <!-- style sheets -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="lib/angular.js"></script>
    </head>

    <body>
        <main>
            <header>
                <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Seattle Yoga News!</a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="http://seattleyoganews.com/category/yoga-interviews-2/">Blog</a></li>
                                <li><a href="http://seattleyoganews.com/category/yoga-news/">Videos</a></li>
                                <li><a href="http://seattleyoganews.com/category/yoga-opinions/">Types of Yoga</a></li>
                                <li id="toTop"><a href="#">&#8593; Back To Top</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="jumbotron">
                <h1 class="text-center">Find Yoga Teacher Training</h1>
                <form ng-submit="search(searchCriteria)">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="style-selector" class="form-control" ng-model="searchCriteria.style">
                                <option class="styles" value="" selected disabled>Style</option>
                                <option class="styles" value="">Any Style</option>
                                <option class="styles" value="bikram">Bikram</option>
                                <option value="hatha">Hatha</option>
                                <option value="anusara">Anusara</option>
                                <option value="ashtanga">Ashtanga</option>
                                <option value="hotYoga">Hot Yoga</option>
                                <option value="iyengar">Iyengar</option>
                            </select>
                            <select id="price-selector" class="form-control" ng-model="searchCriteria.price">
                                <option value="" selected disabled>Price</option>
                                <option value="">Any Price</option>
                                <option value="a-little">$0 - $999</option>
                                <option value="kinda">$1,000 - $1,999</option>
                                <option value="semi">$2,000 - $2,999</option>
                                <option value="medium">$3,000 - $3,999</option>
                                <option value="high">$4,000 - $4.999</option>
                                <option value="higher">$5,000 - $5,999</option>
                                <option value="a-lot">$6,000 - $6,999</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select id="hours-selector" class="form-control" ng-model="searchCriteria.hours">
                                <option value="" selected disabled>Hours per course</option>
                                <option value="">Any # of Hours</option>
                                <option value="student">200</option>
                                <option value="teacher">300</option>
                                <option value="intense">500</option>
                            </select>
                            <input type="text" id="zip-input" class="form-control" placeholder="ZIP Code" ng-model="searchCriteria.zipCode"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="jumbotron">
                <div id="filter-options-group">
                    <h2>Results</h2>
                    Sort By:
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Style</button>
                        <button type="button" class="btn btn-default">Price</button>
                        <button type="button" class="btn btn-default">Hours Per Course</button>
                        <button type="button" class="btn btn-default">Average Rating</button>
                    </div>
                </div>


                <section>
                    <div ng-repeat="studio in studios" class="container comment">
                        <div class="ratings">
                            <span class="glyphicon glyphicon-arrow-up"
                                  ng-click="incrementVotes(review, 1)"></span>
                            {{studio.averageRating || 0}}
                            <span class="glyphicon glyphicon-arrow-down"
                                  ng-click="incrementVotes(review, -1)"></span>
                        </div>
                        <h4>{{review.name}} - {{review.title}}</h4>
                        <rating max="5" ng-model="review.rating" readonly="true"></rating>
                        <p>{{review.review}}</p>
                        <div id="remove" ng-click="removeReview(review)"><span class="glyphicon glyphicon-remove"></span></div>
                    </div>
                </section>
            </div>
            <footer>
                <p>&copy; Seattle Yoga News</p>
                <ul id="list" class="pull-right">
                    <li><a href="#">Find a yoga event</a></li>
                    <li>|</li>
                    <li><a href="#">Find a yoga job</a></li>
                    <li>|</li>
                    <li><a href="#">Find a yoga retreat</a></li>
                    <li>|</li>
                    <li><a href="#">Find a yoga teacher</a></li>
                    <li>|</li>
                    <li><a href="#">Home</a></li>
                </ul>
            </footer>

        </main> <!-- main -->
        <p id="copyright">&copy; Seattle Yoga News</p>
    </body> <!-- body -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</html>