<!-- main html for find a teacher tab of seattleyoganews.com -->
    <!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find A Yoga Teacher</title>

        <!-- style sheets -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="lib/angular.js"></script>
        <script src="lib/angularBootstrap.min.js"></script>
    </head>

    <body>
        <main ng-app="YogaStudiosApp" ng-controller="StudiosController">
            <header>
                <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Seattle Yoga News!</a>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="http://seattleyoganews.com/category/yoga-interviews-2/">Blog</a></li>
                                <li><a href="http://seattleyoganews.com/category/yoga-news/">Videos</a></li>
                                <li><a href="http://seattleyoganews.com/category/yoga-opinions/">Types of Yoga</a></li>
                                <li id="toTop"><a href="#">&#8593; Back To Top</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="jumbotron">
                <h1 class="text-center">Find Yoga Teacher Training</h1>
                <div class="row">
                    <div class="col-md-6">
                        <select ng-model="searchStyle" id="style-selector" class="form-control" ng-change="refreshResults(searchCriteria)">
                            <option class="styles" value="" selected disabled>Style...</option>
                            <option class="styles" value="any">Any Style</option>
                            <option class="styles" value="bikram">Bikram</option>
                            <option value="hatha">Hatha</option>
                            <option value="anusara">Anusara</option>
                            <option value="ashtanga">Ashtanga</option>
                            <option value="hotYoga">Hot Yoga</option>
                            <option value="iyengar">Iyengar</option>
                        </select>
                        <select ng-model="searchPrice" id="price-selector" class="form-control" ng-change="refreshResults(searchCriteria)">
                            <option value="" selected disabled>Price...</option>
                            <option value="any">Any Price</option>
                            <option value="4">$4000 - $4,999</option>
                            <option value="5">$5,000 - $5,999</option>
                            <option value="6">$6,000 - $6,999</option>
                            <option value="7">$7,000 - $7,999</option>
                            <option value="8">$8,000 - $8.999</option>
                            <option value="9">$9,000 - $9,999</option>
                            <option value="10">$10,000 - $10,999</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select ng-model="searchHours" id="hours-selector" class="form-control" ng-change="refreshResults(searchCriteria)">
                            <option value="" selected disabled>Hours per course...</option>
                            <option value="any">Any number of Hours</option>
                            <option value="2">200-299</option>
                            <option value="3">300-399</option>
                            <option value="4">400-499</option>
                            <option value="5">500-599</option>
                        </select>
                        <input ng-model="searchZip" type="text" id="zip-input" class="form-control" placeholder="ZIP Code..." ng-change="refreshResults(searchCriteria)"/>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div id="filter-options-group">
                    <h2>Results</h2>
                    Sort By:
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Style</button>
                        <button type="button" class="btn btn-default">Price</button>
                        <button type="button" class="btn btn-default">Hours Per Course</button>
                        <button type="button" class="btn btn-default">Average Rating</button>
                    </div>
                </div>


                <section>
                    <div ng-repeat="studio in studios" class="row">
                        <!-- add  | filterStudios to ^ -->
                        <div class="col-md-4">
                            <h2>{{studio.studioName}}</h2>
                            <p>{{studio.address}}</p>
                            <p>{{studio.website}}</p>
                            <p>{{studio.fbAddress}}</p>
                            <p>{{studio.phone}}</p>
                            <img src={{studio.imgSource}}>
                        </div>
                        <div class="col-md-4">
                            <h2>Offerings</h2>
                            <p>{{studio.style1}}{{', ' + studio.style2 || ''}}{{', ' + studio.style3 || ''}}</p>
                            <p>{{studio.price}}</p>
                            <p>{{sudio.numberOfHours}}</p>
                            <p>{{studio.price}}</p>
                        </div>
                        <div class="col-md-4">
                            <rating max="5" ng-model="studio.averageRating" readonly="true""></rating>
                            <h3>Add your own rating:</h3>
                            <rating max="5" ng-model="studio.ratingToAdd" readonly="false" ng-change="addRating(studio)"></rating>
                        </div>
                    </div>
                </section>
            </div>
            <footer>
                <p>&copy; Seattle Yoga News</p>
                <ul id="list" class="pull-right">
                    <li><a href="#">Find a yoga event</a></li>
                    <li>|</li>
                    <li><a href="#">Find a yoga job</a></li>
                    <li>|</li>
                    <li><a href="#">Find a yoga retreat</a></li>
                    <li>|</li>
                    <li><a href="#">Find a yoga teacher</a></li>
                    <li>|</li>
                    <li><a href="#">Home</a></li>
                </ul>
            </footer>

        </main> <!-- main -->
        <p id="copyright">&copy; Seattle Yoga News</p>
    </body> <!-- body -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</html>