<!-- main html for find a teacher tab of seattleyoganews.com -->
    <!doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find A Yoga Teacher</title>

        <!-- style sheets -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="lib/angular.js"></script>
    </head>

    <body>
        <main>
            <div class="container">

                <!-- Static navbar -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Seattle Yoga News</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="http://seattleyoganews.com/category/yoga-interviews-2/">Blog</a></li>
                                <li><a href="http://seattleyoganews.com/category/yoga-news/">Videos</a></li>
                                <li><a href="http://seattleyoganews.com/category/yoga-opinions/">Types of Yoga</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </div>
            <div class="jumbotron">
                <h1>Find Yoga Teacher Training</h1>
                <form ng-submit="search(searchCriteria)">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="style-selector" class="form-control" ng-model="searchCriteria.style">
                                <option value="" selected disabled>Style</option>
                                <option value="bikram">Bikram</option>
                                <option value="hatha">Hatha</option>
                                <option value="anusara">Anusara</option>
                                <option value="ashtanga">Ashtanga</option>
                                <option value="hotYoga">Hot Yoga</option>
                                <option value="iyengar">Iyengar</option>
                            </select>
                            <select id="price-selector" class="form-control" ng-model="searchCriteria.price">
                                <option value="" selected disabled>Price</option>
                                <option value="a-little">cash money</option>
                                <option value="a-lot">Even more cash money</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select id="hours-selector" class="form-control" ng-model="searchCriteria.hours">
                                <option value="" selected disabled>Hours per course</option>
                                <option value="student">200</option>
                                <option value="teacher">300</option>
                                <option value="bum">500</option>
                            </select>
                            <input type="text" id="zip-input" class="form-control" placeholder="ZIP Code" ng-model="searchCriteria.zipCode"/>
                        </div>
                    </div>
                    <button id="search-button" type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>

            <section>
                <div ng-repeat="studio in studios" class="container comment">
                    <div class="ratings">
                        <span class="glyphicon glyphicon-arrow-up"
                              ng-click="incrementVotes(studio, 1)"></span>
                        {{review.votes || 0}}
                        <span class="glyphicon glyphicon-arrow-down"
                              ng-click="incrementVotes(review, -1)"></span>
                    </div>
                    <h4>{{review.name}} - {{review.title}}</h4>
                    <rating max="5" ng-model="review.rating" readonly="true"></rating>
                    <p>{{review.review}}</p>
                    <div id="remove" ng-click="removeReview(review)"><span class="glyphicon glyphicon-remove"></span></div>
                </div>
            </section>

        </main> <!-- main -->
    </body> <!-- body -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
</html>